*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-color: #FAFAFA;
    color: #333;
}

/* Navbar */
header{
    width: 100vw;
    height: 10vh;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 0; */
    width: 80vw;
    margin: 0px auto;
}
nav .logo{
    font-family: 'Oleo Script', cursive;
    font-weight: 500;
    color: #000;
    font-size: 2.5rem;
    cursor: pointer;
}
nav .links {
    display: flex;
    
}
li {
    list-style: none;
}
.links a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}
.links .active{
    color: #2549D3;
}
.links li{
    padding: 0 1.2rem;

}
.btn{
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #2549D3;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-play{
    cursor: pointer;
    margin-left: 3rem;
}
.landing{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}
.content{
    width: 100vw;
    margin-top: 4rem;
}
.img {
    width: 50%;
    padding: 2rem 0;
}
img{
    max-width: 100%;
    min-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    object-fit: cover;
}
.headline h3{
    font-size: 2.5rem;
    margin: 2rem 0;
    width: 50%;
    color: #0F298B;
}
.headline p{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.more{
    display: flex;
    align-items: center;
}
